.img-fluid1 {
    max-width: 100%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.404), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border: 8px solid white;
    transform: rotate(-5deg);   
}

.etiqueta{
    text-transform: capitalize;
    background: yellow;
    color: yellow;
    padding: 0.2em 1.5em 0.2em 0.9em;
    margin-left: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transform: rotate(25deg);
}

.etiqueta1{
    text-transform: capitalize;
    background: yellow;
    color: yellow;
    padding: 0.2em 1.5em 0.2em 0.9em;
    margin-left: 10px;
    position: absolute;
    top: 5%;
    right: 1%;
    z-index: 1;
    transform: rotate(25deg);
}

.centrar{
    text-align: center;
}

audio source {
    filter: grayscale(100%) !important;
}

.animado{
    opacity: 0;
    transition: all 0.5s;
}

.mostrarArriba{
    animation: mostrarUp 1s;
}

@keyframes mostrarUp{
    0%{
        transform: translateY(60px);
    }
    100%{
        transform: translateY(0);
    }
}

@media screen and (min-width: 575px) {
    #foto2{
        margin: 0 !important;
    }
  }