<div class="container text-black-50 font-italic">
  <div class="borde">
    <img src="../../../assets/decoracion1.png" alt="">
  </div>
  <br>
  <h1 class="text-center">Sus ojos</h1>
  <br>
  <div class="poema">
    <p>
      Una vez, un día cualquiera <br>
      me cruce con sus ojos <br>
      y me perdí en su mirada... <br>
      supe que escondían de mi <br>
      un mundo que no conocí. <br>
    </p>
    <p>
      Cada día aliste mis barcas <br>
      cada día espere la puesta del sol <br>
      por la oportunidad de encontrar <br>
      el infinito de su corazón. <br>
    </p>
    <p>
      No hay fachadas ahí <br>
      solo un océano turquesa <br>
      donde pueden verse a luz <br>
      sus riquezas. <br>
    </p>
    <p>
      Gracia y sosiego <br>
      llevan sus olas <br>
      se mecen y golpean <br>
      mi alma no desea una tregua. <br>
    </p>
    <p>
      Dejo el viento correr <br>
      susurrando casi en silencio <br>
      así también a lo que siento <br>
      ¿usted me comprende? <br>
    </p>
    <p> 
      No está en mis intenciones  <br>
      que pierda su esencia <br>
      ¡oh! primavera <br>
      cálida de día, paraíso de noche. <br>
    </p>

  </div>
</div>
<br>
<window></window>
<br><br>
<div class="container text-black-50 font-italic">
  <p>
    Déjeme decirle <br>
    Permítame declararle <br>
    encontré un mundo diferente <br>
    y no estaba preparado... <br>
    aunque me espere el naufragio<br>
    aun así, debo hallar el valor mi.<br>
  </p>
  <br>
  <div class="borde">
    <img src="../../../assets/decoracion2.png" alt="">
  </div>
  <br>
  <img id="corazon1" src="../../../assets/corazon.png" alt="">
  <img id="corazon2" src="../../../assets/corazon.png" alt="">
  <img id="corazon3" src="../../../assets/corazon.png" alt="">
  <img id="corazon4" src="../../../assets/corazon.png" alt="">
  <img id="corazon5" src="../../../assets/corazon.png" alt="">
</div>