<br><br>
<h1 class="text-center text-black-50">Galeria</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4 animado">
      <br>
      <img src="../../../assets/14.jpg" class="img-fluid1">
    </div>
    <div class="col-sm-4 animado">
      <br>
      <img src="../../../assets/24.jpg" class="img-fluid1 ml-4" id="foto2">
    </div>
    <div class="col-sm-4 animado">
      <br>
      <img src="../../../assets/31.jpg" class="img-fluid1">
    </div>
  </div>
  <poem></poem>
  <br><br><br><br>
</div>