header{
    height: 75vh;
    width: 100%;
    background: url(../../../assets/spring.jpg);
    background-color: rgb(255, 192, 203, 0.9);
    background-blend-mode: soft-light;
    padding: 1px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: rgb(255, 255, 255);
}

.marco{
    border: 35px solid transparent;
    padding-top: 0px;
    padding: 1px;
    border-image: url(../../../assets/decoracion.png) 160 stretch;
    filter: invert(100%);    
}

#h1{
    filter: invert(100%);    
}   