.head{
    height: 100vh;
    width: 100%;
    background: url(../../../assets/spring.jpg);
    background-color: plum;
    background-blend-mode: soft-light; /*invierte orden de foto y filtro de color*/
    padding: 1px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;/*propiedad que ubica en columna a flex*/
    align-items: center;
    justify-content: center;
}

.marco{
    /* border: 30px solid transparent; */
    padding: 47px;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url(../../../assets/late.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border-image: url(../../../assets/decoracion.png) 185 stretch; */
    /* filter: grayscale(100%); convierte en blanco y negro */
    animation: mianimacion 0.8s ease-in-out 1.5s infinite normal none;
}

h2{
    /* filter: invert(0%);  colores negativos */
    font-size: 11.8vw;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .marco{
        padding: 70px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    h2{
        font-size: 10vw;
    }
}

@media screen and (min-width: 1024px) {
    .marco{
        padding: 70px;
        padding-top: 95px;
        padding-bottom: 95px;        
    }

    h2{
        font-size: 9.5vw;
    }
}

@media screen and (max-width: 320px){
    h2{
        font-size: 17vw;
    }
}

@keyframes mianimacion {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}