.head{
    height: 100vh;
    width: 100%;
    background: url(../../../assets/spring.jpg);
    background-color: rgb(255, 192, 203, 0.9);
    background-blend-mode: soft-light;
    padding: 1px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.marco{
    border: 50px solid transparent;
    padding: 30px;
    border-image: url(../../../assets/decoracion.png) 140 stretch;
    filter: invert(100%);    
}

h1{
    filter: invert(100%);  
    font-size: 15vw;
}

h3{
    color: black;
    font-size: 8vw;
}