<div class="container text-black-50 text-center">
    <br>
    <p>
        Hola como estas... <br>
        de que se trata esto?
        podria decir que es algo que tenia preparado hace tiempo 
        pero que no encontraba el momento, o talvez no me animaba, para ser mas 
        exacto, a decirtelo. <br>
        La intension era hacer una carta
        donde pudiera desplegar mis pensamientos personales, 
        y entiendo que no nos conocemos bien,
        pero la verdad es que desde que te vi la primera vez(en la iglesia) 
        no pude dejar de pensarte desde entonces. <br> No busco incomodarte, 
        solamente con discreción darte a conocer es esto que siento. 
        <br> No es necesario una respuesta al respecto(a menos que estes de acuerdo) 
        si crei necesario ser honesto conmigo y con vos, que ya 
        no podia seguir callando esto, realmente el silencio es una agonia, por eso me permiti y 
        me atrevo a decir que me apasionaste desde que te vi, y mi admiracion es profunda 
        por vos Ariana. <br> Además muero de ganas por invitarte a comer papas fritas y charlar... 
        <br>(ojala digas que si)<br> 
        En fin, me conformo con que se sonrojen tus mejillas despues 
        de leer 
        <a class="text-dark font-weight-bold" routerLink="/galeria">esto</a>.
        <br><br>
        <small class="float-right"> Tu admirador </small>
    </p>
    <br>
    <div class="borde">
        <img src="../../../assets/decoracion2.png" alt="">
    </div>
    <br>
    <img id="corazon1" src="../../../assets/corazon.png" alt="">
    <img id="corazon2" src="../../../assets/corazon.png" alt="">
    <img id="corazon3" src="../../../assets/corazon.png" alt="">
    <img id="corazon4" src="../../../assets/corazon.png" alt="">
    <img id="corazon5" src="../../../assets/corazon.png" alt="">
    <img id="corazon6" src="../../../assets/corazon.png" alt="">
</div>