.borde{ 
    height: 8vh; 
    opacity: 0.4;
}

img{
    max-width: 100%;
    height: 100%;
}

.container{
    position: relative;
}

#corazon1{
    position: absolute;
    max-width: 12%;
    height: auto;
    top: 15%;    
    right: 85%;
    transform: rotate(-20deg);
    opacity: 0.2;
}

#corazon2{
    position: absolute;
    max-width: 10%;
    height: auto;
    top: 85%;    
    right: 88%;
    transform: rotate(20deg);
    opacity: 0.2;
}

#corazon3{
    position: absolute;
    max-width: 4%;
    height: auto;
    top: 75%;  
    right: 5%;
    transform: rotate(-8deg);
    opacity: 0.2;
}

#corazon4{
    position: absolute;
    max-width: 10%;
    height: auto;
    top: 60%;    
    right: 5%;
    transform: rotate(-15deg);
    opacity: 0.2;
}

#corazon5{
    position: absolute;
    max-width: 4%;
    height: auto;
    top: 5%;  
    right: 7%;
    transform: rotate(20deg);
    opacity: 0.2;
}

#corazon6{
    position: absolute;
    max-width: 16%;
    height: auto;
    top: 45%;  
    right: 50%;
    transform: rotate(20deg);
    opacity: 0.2;
}