<div class="container text-black-50 text-center">
    <div class="borde">
        <img src="../../../assets/decoracion1.png" alt="">
    </div>
    <br>
    <p>
        Hola como estas... 
        la siguiente página es un
        sitio que desarrolle 
        especialmente para ti (y lo compartí solo contigo). 
        En el mismo se encuentran desplegados
        pensamientos personales; 
        y entendiendo que apenas nos conocemos, no busco incomodarte 
        sino solo mantener la discreción y que disfrutes 
        de estos textos que declaran mi admiración por ti ... 
        puedes acceder a ellos
        <a class="text-dark" routerLink="/galeria">aqui</a>
    </p>
    <br>
    <div class="borde">
        <img src="../../../assets/decoracion2.png" alt="">
    </div>
</div>