<div class="container text-black-50 text-center">
    <div class="borde">
        <img src="../../../assets/decoracion1.png" alt="">
    </div>
    <br>
    <p>
        Hola como estas... <br>
        de que se trata esto?
        podria decir que es algo que tenia preparado hace tiempo 
        pero que no encontraba el momento, o talvez no me anime, para ser mas 
        exactos, a dartelo a conocer.
        Se que resulta raro o incomodo o no se como decirlo, pero creo que trate de hacer 
        como una carta... (aunque mas bien es una web)
        donde estan desplegados pensamientos personales mios,
        y lo entiendo, no nos conocemos, bueno solo algunos intercabios de mensajes,
        pero la realidad es que desde que te vi en publico la primera vez(en la iglesia) 
        no pude dejar de pensarte desde entonces, y no busco incomodarte, 
        solamente con discreción darte a conocer que es esto que siento. 
        No espero una respuesta al respecto, a menos que estes de acuerdo en ello, solo crei 
        necesario ser honesto conmigo y con vos, y decir que ya no podia callar esto, 
        realmente el silencio es una agonia, por eso me permiti y me atrevo a decir que me apasionaste,
        desde que te vi, y mi admiracion es profunda por vos. 
        alguna vez crei perdida en mi esa posibilidad... de Amar a alguien, talvez todavia 
        el amor de verdad existe en estos tiempos, se que no me equivoco.. por eso decidi compartir esto contigo.
        Espero sean gratas las lineas que encuentres <a class="text-dark" routerLink="/galeria">Aqui</a>.
        </p>
    <br>
    <div class="borde">
        <img src="../../../assets/decoracion2.png" alt="">
    </div>
</div>