<div class="container">
<div class="poema text-black-50">
<pre>
  Lo recuerdo, fue aquel día
  cuando te vi... 
  la primera vez que
  vi tus ojos.
  
  Solos estaban   
  solos miraban la nada,
  desde entonces no despegue
  de ti mi mirada. 

  Cada dia alisto mis barcas
  y espero las puestas del sol 
  soñando hallar en ellos 
  tu corazón.

  No encontré fachadas ahí, 
  sino un impetuoso rio
  donde se reflejan a luz 
  sus riquezas. 

  Tus cabellos corren 
  y caen semejante
  a sus cascadas... 
  hasta el Niagara es expectante.
</pre>
<pre id="parte2">
  Hermosura... sosiego 
  corren en sus ondas
  se mecen y golpetean, 
  no me siento a solas. 

  Mis lagrimas también
  corren y caen,
  sin embargo estará en popa
  mi esperanza.

  Dejo soplar al viento 
  susurrando en silencio,
  así también a lo que siento... 
  
  Mis motivos no pretenden 
  perturbar la esencia
  de su manantial, 
  maravilloso por excelencia.    

  Sus olas me arrastraron a 
  otro mundo y no estaba listo,
  el naufragio talvez espera,
  aun así no me quedare en vera.<br>
                                      <cite class="font-italic text-muted">Your eyes</cite><br>
</pre>
</div>
  <img id="corazon1" src="../../../assets/me_importa.png" alt="">
  <img id="corazon2" src="../../../assets/me_importa.png" alt="">
  <img id="corazon3" src="../../../assets/me_importa.png" alt="">
  <img id="corazon4" src="../../../assets/me_importa.png" alt="">
  <img id="corazon5" src="../../../assets/me_importa.png" alt="">
  <img id="corazon6" src="../../../assets/me_importa.png" alt="">
  <img id="corazon7" src="../../../assets/me_importa.png" alt="">
  <img id="corazon8" src="../../../assets/me_importa.png" alt="">
  <img id="corazon9" src="../../../assets/me_importa.png" alt="">
  <img id="corazon10" src="../../../assets/me_importa.png" alt="">
  <img id="corazon11" src="../../../assets/me_importa.png" alt="">
  <img id="corazon12" src="../../../assets/me_importa.png" alt="">
  <br>
</div>