<div class="container">
  <br><br><br>
  <h1 class="text-center text-black-50">poesia: Sus ojos</h1>
  <br>      
  <div class="poema text-black-50">
<pre>
  Fue ese día, uno de tantos
  buscando y buscando nada  
  encontré sus ojos...
  ¿como olvidar esa mirada?

  Sola estaba y sola  
  miraba la nada,
  desde entonces no deja
  de ser mi observada. 

  Cada día, aliste mis barcas
  espere la puesta del sol 
  y la oportunidad de hallar 
  en ellos su <abbr>corazón</abbr>. 

  No encontré fachadas ahí, 
  sino un océano turquesa 
  donde se reflejan a luz 
  sus riquezas. 

  Tus cabellos corren 
  y caen como si fuera 
  sus cascadas... 
  semejantes al Niagara.
</pre>
<pre id="parte2">
  Belleza, sosiego 
  corren en sus olas..
  se mecen y golpean, 
  no estoy a solas. 

  Mis lagrimas también
  caen, y mis esperanzas 
  sin embargo, estará en pie
  mi confianza.

  Dejo soplar al viento 
  susurrando en silencio,
  así también a lo que siento 
  comprende? 

  Mis motivos no son 
  perturbar tu esencia
  como la primavera, 
  en un ocaso por excelencia.    

  Encontré otro mundo 
  y no estaba preparado
  talvez el naufragio espera,
  aun así no estaré a la vera.
</pre>
  </div>
  <img id="corazon1" src="../../../assets/corazon.png" alt="">
  <img id="corazon2" src="../../../assets/corazon.png" alt="">
  <img id="corazon3" src="../../../assets/corazon.png" alt="">
  <img id="corazon4" src="../../../assets/corazon.png" alt="">
  <img id="corazon5" src="../../../assets/corazon.png" alt="">
  <img id="corazon6" src="../../../assets/corazon.png" alt="">
  <img id="corazon7" src="../../../assets/corazon.png" alt="">
  <img id="corazon8" src="../../../assets/corazon.png" alt="">
  <img id="corazon9" src="../../../assets/corazon.png" alt="">
  <img id="corazon10" src="../../../assets/corazon.png" alt="">
  <img id="corazon11" src="../../../assets/corazon.png" alt="">
  <img id="corazon12" src="../../../assets/corazon.png" alt="">
</div>