<div class="container">
  <br>
  <h2 class="text-center text-black-50">Tus ojos</h2>
  <div class="carta">
    <div class="poema">
      <br>
      
          Un día como tantos <br>
          sin querer me cruce <br>
          con esa profunda mirada,<br>
          tu mirada... <br>
          entonces descubrí <br>
          un mundo que no conocí <br><br>
        
      
          Cada día, alisto mis barcas <br>
          espero una puesta de sol, <br>
          y la oportunidad de hallar <br>
          aquel infinito de su corazón. <br><br>
        
      
          No hay fachadas ahí... <br>
          sino un mar turquesa, <br>
          donde puede verse a luz <br>
          sus riquezas. <br><br>
        
      
          Gracia y sosiego <br>
          llevan sus olas, <br>
          se mecen y golpean <br>
          mi alma no quiere tregua. <br><br>
        
      
          Dejo soplar el viento <br>
          susurrando casi en silencio <br>
          así también, a lo que siento <br>
          me comprende? <br><br>
        
      
          Así como las lagrimas... <br>
          que se dejan caer <br>
          caen mis esperanzas, <br> 
          sin embargo, no dejarán  <br>  
          de estar en pie. <br><br>
        
       
          No es mi intención <br>
          perturbar su esencia, <br>
          como una primavera <br>
          cálida en sus días,<br> 
          paraíso de noche <br><br>
        
      
          Déjeme decirle <br>
          Permítame declararle <br>
          encontré un nuevo mundo, <br>
          y no estaba preparado... <br>
          aunque el naufragio espera,<br>
          no me quedare a la vera. <br><br>
        
    </div>
  </div>
  <img id="corazon1" src="../../../assets/corazon.png" alt="">
  <img id="corazon2" src="../../../assets/corazon.png" alt="">
  <img id="corazon3" src="../../../assets/corazon.png" alt="">
  <img id="corazon4" src="../../../assets/corazon.png" alt="">
  <img id="corazon5" src="../../../assets/corazon.png" alt="">
  <img id="corazon6" src="../../../assets/corazon.png" alt="">
  </div>
  