.container{
    position: relative;
}

.poema{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

pre{
    background-color: rgba(245, 245, 245, 0.8);
    margin: 0; padding: 0;
    color: #303030;
    font: normal 23.5px 'Grenze Gotisch', cursive;
}

h1{
    font: bold 40px 'Grenze Gotisch', cursive;
}

#parte2{
    padding-top: 0;
}

#corazon1{
    position: absolute;
    max-width: 12%;
    height: auto;
    top: 15%;    
    right: 90%;
    transform: rotate(-20deg);
    opacity: 0.3
}

#corazon2{
    position: absolute;
    max-width: 10%;
    height: auto;
    top: 85%;    
    right: 88%;
    transform: rotate(20deg);
    opacity: 0.3
}

#corazon3{
    position: absolute;
    max-width: 7%;
    height: auto;
    top: 100%;  
    right: 70%;
    transform: rotate(-8deg);
    opacity: 0.3
}

#corazon4{
    position: absolute;
    max-width: 10%;
    height: auto;
    top: 50%;    
    right: 5%;
    transform: rotate(-15deg);
    opacity: 0.3
}

#corazon5{
    position: absolute;
    max-width: 6%;
    height: auto;
    top: 5%;  
    right:15%;
    transform: rotate(20deg);
    opacity: 0.3
}

#corazon6{
    position: absolute;
    max-width: 16%;
    height: auto;
    top: 40%;  
    right: 90%;
    transform: rotate(20deg);
    opacity:0.3
}

#corazon7{
    position: absolute;
    max-width: 12%;
    height: auto;
    top: 25%;    
    right: 5%;
    transform: rotate(-20deg);
    opacity: 0.3
}

#corazon8{
    position: absolute;
    max-width: 10%;
    height: auto;
    top: 55%;    
    right: 90%;
    transform: rotate(20deg);
    opacity: 0.3
}

#corazon9{
    position: absolute;
    max-width: 7%;
    height: auto;
    top: 10%;  
    right: 0%;
    transform: rotate(-8deg);
    opacity: 0.3
}

#corazon10{
    position: absolute;
    max-width: 10%;
    height: auto;
    top: 75%;    
    right: 0%;
    transform: rotate(-15deg);
    opacity: 0.3
}

#corazon11{
    position: absolute;
    max-width: 6%;
    height: auto;
    top: 95%;  
    right: 7%;
    transform: rotate(20deg);
    opacity: 0.3
}

#corazon12{
    position: absolute;
    max-width: 16%;
    height: auto;
    top: 65%;  
    right: 5%;
    transform: rotate(20deg);
    opacity:0.3
}

@media screen and (min-width: 768px){
    pre{
        font-size: 3.5vw;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (min-width: 1024px){
    pre{
        font-size: 2.1vw;
    }
}

@media screen and (max-width: 320px){
    h1{
        font-size: 30px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    #parte2{
        padding-top: 2rem;
    }
}