.marco{
    background-color:whitesmoke;
    margin-left: 3rem;
    padding: 16px 8px 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6), 0 12px 40px 0 rgba(0, 0, 0, 0.57);
    max-width: 95%;
}

/* .pie_marco{
    text-align: start;
    padding-top: 16px;
} */

h6{
    margin: 0;
    padding: 13px 0;
    font-size: 3.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* #importa{
    width: auto;
    height: 1.5rem;
}

#mensaje{
    width: auto;
    height: 1.3rem;
}

#comentario{
    width: auto;
    height: 1.3rem;
} */

.animado{
    opacity: 0;
    transition: all 0.5s;
}

.mostrarArriba{
    animation: mostrarUp 1s;
}

@keyframes mostrarUp{
    0%{
        transform: translateX(-60px);
    }
    100%{
        transform: translateX(0);
    }
}