.marco{
    margin: 0;
    padding: 20px;
    margin: 4px;
    padding-bottom: 0px;
    background-color:rgb(236, 240, 241);
    transform: rotate(-4deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.57);
}

.pie_marco{
    text-align: start;
}

#importa{
    width: auto;
    height: 1.5rem;
}

#mensaje{
    width: auto;
    height: 1.3rem;
}

#comentario{
    width: auto;
    height: 1.3rem;
}