<div class="marco">
    <carousel></carousel>
    <div class="pie_marco">
        <img id="importa" src="../../../assets/me_importa.png" alt="">
        <img class="mx-2" id="comentario" src="../../../assets/comentario_IG.png" alt="">
        <img id="mensaje" src="../../../assets/mensaje_IG.png" alt=""><br>
        <small class="font-weight-bold" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">me importa</small> 
    </div>
</div>