.marco{
    padding: 0 5px 16px;
    margin: 8px;
    background-color:rgb(255, 192, 203);
    transform: rotate(-4deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.57);
    border-radius: 0.25rem;
}

.head{
    padding: 7px;
    overflow: auto;
}
.avatar{
    float: left;
    max-width: 13%;
    height: auto;
    border-radius: 250px;
    padding: 2px;
    margin-right: 10px;
}

.pie_marco{
    text-align: start;
    margin-top: 16px;
    margin-left: 12px;
}

h6{
    margin: 0;
    padding: 13px 0;
    font-size: 3.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#importa{
    width: auto;
    height: 1.5rem;
}

#mensaje{
    width: auto;
    height: 1.3rem;
}

#comentario{
    width: auto;
    height: 1.3rem;
}